.header{
    padding:72px;
   font-size: 24px;
   display: flex;
}
.header-top{
    margin-left: 2rem;
    font-size:16rem;
    color:aliceblue;
}
.header-top-mht{
    color:chocolate;
    font-family: Monaco;
    font-size:5rem;
}
.header-menu{
    display: flex;
    color:aliceblue;
    justify-content:space-around;
    padding: 24px;
    gap: 64px;
}
.header-top-span{
    color:aliceblue;
}
.header-menu .home{

    color:chocolate;
}